@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */

    --caret-color:hsl(220, 98%, 61%);

    /* Light Theme */
    --color-very-light-gray: hsl(0, 0%, 98%);
    --color-very-light-grayish-blue: hsl(236, 33%, 92%);
    --color-light-grayish-blue: hsl(233, 11%, 84%);
    --color-dark-grayish-blue: hsl(236, 9%, 61%);
    --color-very-dark-grayish-blue: hsl(235, 19%, 35%);
    --color-gradient-start: hsl(192, 100%, 67%);
    --color-gradient-end: hsl(280, 87%, 65%);
  
    /* Dark Theme */
    --color-very-dark-blue: hsl(235, 21%, 11%);
    --color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --color-dark-light-grayish-blue: hsl(234, 39%, 85%);
    --color-dark-light-grayish-blue-hover: hsl(236, 33%, 92%);
    --color-dark-dark-grayish-blue: hsl(234, 11%, 52%);
    --color-dark-very-dark-grayish-blue: hsl(233, 14%, 35%);
    --color-dark-very-dark-grayish-blue-hover: hsl(237, 14%, 26%);
  }

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

button, a {
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    /* height: 100vh; */
    padding: 70px 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size:contain;
}

/* dark theme */
.wrapper.dark {
    background-image: url("../src/assets/images/bg-mobile-dark.jpg");
    background-color: var(--color-very-dark-blue);
    color: var(--color-dark-dark-grayish-blue);
}

/* Light theme */
.wrapper.light {
    background-image: url("../src/assets/images/bg-mobile-light.jpg");
    background-color: var(--color-very-light-gray);
    color: var(--color-dark-grayish-blue);
}

.todo__body {
    width: 100%;
    margin:0 auto;
    padding: 20px;
}

.todo__head {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}

.todo__head h3 {
    text-transform: uppercase; 
    letter-spacing:10px;
}

.todo__head--icon {
    cursor: pointer;
}

/* CreateTodo Component */
.todo__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
}
.wrapper.dark .todo__form {
    background-color: var(--color-very-dark-desaturated-blue);
}

.todo__form input {
    background-color: transparent;
    border: 0;
    outline: 0;
    caret-color: var(--caret-color);
    color: var(--cardDarkFont);
    font-size: 18px;
    font-weight: bold;
}
.todo__form input::placeholder {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cardDarkFont);
}

.todo__form button {
    background: transparent;
    border: 0;
    font-size: 22px;
    cursor: pointer;
}

/* TODO component */
.todo__lists {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: -1px 5px 10px 10px rgba(157, 162, 235, 0.3);
}

.todo__list {
    padding: 15px 15px 0;
    list-style-type: none;
    color: var(--cardDarkFont);
    background-color:  white;
    border-bottom: 0.1rem solid var(--color-very-light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper.dark .todo__list {
    background-color:  var(--color-very-dark-desaturated-blue);
    border-bottom:  0.1rem solid var(--color-dark-very-dark-grayish-blue-hover);
}

.todo__list--complete {
    padding: 15px 15px 0;
    border-bottom: 0.1rem solid var(--color-very-light-grayish-blue);
   background-color:  white;
    color: hsl(234, 11%, 52%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.wrapper.dark .todo__list--complete {
    background-color:  var(--color-very-dark-desaturated-blue);
    border-bottom:  0.1rem solid var(--color-dark-very-dark-grayish-blue-hover);
}

.todo__list--icon {
    display: none;
}

.todo__list:hover .todo__list--icon {
    display: block;
}
.todo__list--complete:hover .todo__list--icon {
    display: block;
}

.todo__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    cursor: pointer;
}

 input[type="checkbox"] {
    display: none;
  }

 input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    border-radius: 50%;
    border: 2px solid #ddd;
    vertical-align: middle;
    text-align: center;
    transition: all 0.2s;
  }

input[type="checkbox"]:checked + label::before {
    background-image:url("../src/assets/images/icon-check.svg"), linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    border-color: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    color: #fff;
}

.todo__text {
    font-size: 16px;
    text-transform: capitalize;
}

.todo__text--complete{
    text-decoration: line-through;
}

/* Filter component */
.todo__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cardDarkFont);
    padding: 15px ;
    background-color:  white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 14px;
}
.wrapper.dark .todo__actions {
    background-color:  var(--color-very-dark-desaturated-blue);
}
.todo__act {
    display: none; 
}

.todo__clear {
    cursor: pointer;
}
.todo__clear:hover {
    color: #fff;
}

.todo__act--mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cardDarkFont);
    background-color:  white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}
.wrapper.dark .todo__act--mobile {
    background-color:  var(--color-very-dark-desaturated-blue);
}

.todo__filter--btn {
    background: transparent;
    outline: none;
    border: none;
    color: var(--color-dark-grayish-blue);
    font-weight: 700;
}

.todo__filter--btn:hover {
    color: #fff;
}

.todo__filter--btn.active {
    color:  hsl(220, 98%, 61%);
}
/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
}
footer a {
    color: green;
}
@media screen and (min-width:980px) {
    .wrapper {
        height: 100vh;
        padding: 70px 0;
        width: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-size:contain;
    }
    /* dark theme */
    .wrapper.dark {
        background-image: url("../src/assets/images/bg-desktop-dark.jpg");
        background-color: var(--color-very-dark-blue);
        color: var(--color-dark-dark-grayish-blue);
    }

    /* Light theme */
    .wrapper.light {
        background-image: url("../src/assets/images/bg-desktop-light.jpg");
        background-color: var(--color-very-light-gray);
        color: var(--color-dark-grayish-blue);
    }
   
    .todo__body {
        width: 100%;
        max-width: 500px;   
        padding: 0;
    }

    .todo__text {
        font-size: 18px;
      }

    .todo__act {
        display: flex;
        align-items: center;
        gap: 10px; 
        cursor: pointer;
    }

    .todo__act--mobile {
        display: none;
    }
}
